*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
h1{
    display:inline;
    font-family: 'Times New Roman', Times, serif;
}
p{
    display: inline;
}
/********************/

#name_header{
    position:relative;
    padding:5px;
    font-size : 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
}
#top_header{
    background-color : rgb(255, 255, 255);
    position : sticky;
    z-index: 2;
    top:-1px;
    height: 50px;
    border-bottom: 1px solid rgb(184, 184, 184);
}
.nav{
    position: absolute;
    height : 100%;
    font-size :1rem;
    padding: 10px;
    border: 0px;
}
.nav_left{
    left: 10%;
}
.nav_right{
    width : 90px;
    right : 5%;
    float: left;
}
.nav img{
    width: 30px; height: 30px; padding : 5px;
}
/********************/

#top_catagory{
    border-top: 1px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184, 184, 184);
    width: 100%; height: 42px;
    position : relative;
}
#top_catagory > div{
    height: 100%;
    position : absolute;
}
.list_buttons{
    position : absolute;
    left:50%;
    transform: translate(-50%,0%);
    float: left;
    font-size:0;
}
.list_button{
    border-left: 1px solid rgb(184, 184, 184);
    height: 100%;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    display: inline-block;
    transition: 0.4s;
}
.list_button:hover{
    background-color: rgba(128, 128, 128, 0.534);
}
.next_button{
    border-right: 1px solid rgb(201, 201, 201);
}

/*********/

.sort_buttons{
    right:10%;
    height: 100%;
    z-index: 1;
}
.sort_button{
    background-color: rgb(235, 235, 235);
    width: 200px;
    height: 100%;
    border-left: 1px solid rgb(184, 184, 184);
    border-right: 1px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184, 184, 184);
    line-height: 40px;
    padding-left: 30px;
    
    font-family: 'Noto Sans KR', sans-serif;
}
.first_button{
    border-bottom: 0;
    cursor: pointer;
}
.below_button{
    border-top: 1px solid rgb(184, 184, 184);
    display: none;
}

/********/
.menu_button{
    position: absolute;
    left: 10%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.menu_button img{
    width: 100%; height: 100%;
    padding: 10px;
}

/******************/
#middle{
    height: 1500px;
}
#middle > div{
    height: 100%;
}

/*******/
.left_catagory{
    position: relative;
    width: 15%;
    float: left;
    transition: 0.3s;
}
.move_catagories{
    visibility: visible;
}
.move_catagories a{
    text-decoration: none;
}
.move_catagories div{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    color :rgb(92, 92, 92);
}
.move_catagories div:hover{
    color : rgb(0, 0, 0);
}

/*******/
.main_items_container{
    position: relative;
    border-left: 1px solid rgb(184, 184, 184);
    width: 85%;
    transition: 0.3s;
    display: grid;
    grid-template-columns: repeat(auto-fill,23%);
    grid-template-rows: repeat(auto-fill,minmax(400px,500px));
    column-gap: 15px;
    justify-content: center;
}

.item_container{
    position: relative;
    margin: 20px;
    transition: 0.3s;
    /*
    width: 300px;
    margin:10px;
    height: 400px;
    */
}
.item_container:hover{
    border: 1px solid rgb(184, 184, 184);
}
.item_img{
    width: 100%;
    height: 300px;
    padding: 10px;
}
.item_img img{
    width: 100%;
    height: 100%;
}
.item_explain{
    width: 100%;
    margin-top:20px;
    height: 120px;
}
.item_explain p{
    display: block;
    font-size : 20px;
    margin-top:5px;
    margin-left:10px;
    font-family: 'Noto Sans KR', sans-serif;
}


/*******/
#bottom_catagory{
    border-top: 1px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184, 184, 184);
    width: 100%; height: 42px;
    position : relative;
}
#bottom{
    position : relative;
    background-color: rgb(80, 80, 80);
    height: 300px;
}